.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 5rem;
  width: 45%;
  height: auto;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: -4px 11px 35px 5px rgba(120, 120, 120, 0.52);
  -webkit-box-shadow: -4px 11px 35px 5px rgba(120, 120, 120, 0.52);
  -moz-box-shadow: -4px 11px 35px 5px rgba(120, 120, 120, 0.52);
}

.inputStyle {
  margin: 1rem 3rem;
  width: 25rem;
  padding: 1rem;
  outline: #92cf8a70;
  border: #92cf8a70 2.5px solid;
  border-radius: 0.5rem;
  color: black;
  transition: 0.3s ease-in-out;
}
.inputStyle[type="text"] {
  font-size: 1rem;
}
.inputStyle:focus {
  background: rgba(54, 54, 54, 0.093);
  outline: #92cf8a;
  border: #92cf8a 2.5px solid;
}

.add {
  font-size: 1.15rem;
  cursor: pointer;
}
.add:focus {
  outline: none;
}

.bg-btn {
  width: auto;
  height: auto;
  background-color: #0077ff;
  padding: 1rem 1.7rem;
  border-radius: 0.5rem;
}
.bg-btn:hover {
  transition: 0.3s ease-in-out;
  background-color: #33b9f3;
}


/*Nest Hub Max*/
@media (max-width: 1280px) {
  .container {
    width: 70%;
  }

  .inputStyle {
    margin: 1rem 2rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}


/*Nest Hub*/
@media (max-width: 1024px) {
  .container {
    width: 70%;
  }

  .inputStyle {
    margin: 1rem 2rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}

/*Surface Pro*/
@media (max-width: 912px) {
  .container {
    width: 80%;
  }

  .inputStyle {
    margin: 1rem 2rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}

/*Ipad Air*/
@media (max-width: 820px) {
  .container {
    width: 80%;
  }

  .inputStyle {
    margin: 1rem 2rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}

@media (max-width: 640px) {
  .container {
    width: 80%;
  }

  .inputStyle {
    margin: 1rem 1.2rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}

@media (max-width: 414px) {
  .container {
    width: 90%;
  }

  .inputStyle {
    margin: 1rem 1rem;
    width: 13rem;
  }
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }

  .inputStyle {
    margin: 1rem 1rem;
    width: 13rem;
  }

  .bg-btn {
    padding: 0.7rem 0.8rem;
  }
}

/*Samsung S8+*/
@media (max-width: 360px) {
  .container {
    width: 95%;
  }

  .inputStyle {
    margin: 1rem 1rem;
    width: 13rem;
  }
}